
/* fallback */
@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 400;
    /* src: url('https://object.pscloud.io/front-s3/web/admin/20240911120053_dd83d6bd-dec4-4985-ac27-0e9c93bd953b.woff2') format('woff2'); */
    src: url(./fonts/google-fonts.woff2) format("woff2");
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.ant-btn > span {
    display: flex;
}

.ant-page-header {
    padding: 0px;
    margin: 16px 0;
    border-bottom: 1px solid #f1f1f1;
}
